<div class="user-details">
  <h1> Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark colored" title="HTML5"></i>
    <i class="devicon-bootstrap-plain-wordmark colored" title="Bootstrap"></i>
    <i class="devicon-sass-original colored" title="Sass"></i>
    <p>Short description of your expertise and maybe some examples.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored" title="JavaScript"></i>
    <i class="devicon-coffeescript-original-wordmark" title="CoffeeScript"></i>
    <i class="devicon-ruby-plain-wordmark colored" title="Ruby"></i>
    <p>Short description of your expertise and maybe some examples.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored" title="Git"></i>
    <i class="devicon-atom-original" title="Atom"></i>
    <i class="devicon-gulp-plain colored" title="Gulp"></i>
    <p>Short description of your expertise and maybe some examples.</p>
  </div>
</div>
