<div id="gallery-title">
  <h1>S.. ARSENAULT.:</h1>
  <div id="gallery-links">
    <a href="{{ "/" | prepend: site.baseurl }}"><i class="icon fa fa-home"></i></a>
    <a href="https://www.flickr.com/photos/144282132@N05/"><i class="icon fa fa-flickr"></i></a>
  </div>
</div>
<ul id="hex-gallery" class="clear">
  {% for image in site.data.images %}
    <li class="hex" id="#hex{{ forloop.index }}">
      <div class="hex-div">
        <a class="hex-link" href="#image{{ forloop.index }}">
          <img src="{{ image.thumb_url }}" alt=""/>
          <h1>{{ image.title }}</h1>
          <p>{{ image.description }}</p>
        </a>
      </div>
      <div class="hex-lbox" id="image{{ forloop.index }}">
        <img src="{{ image.fullres_url }}" alt="{{ image.title }}"/>
        <div>
          <h3>{{ image.title }}
            <span>
            {% if forloop.index > 1 %}<a href="#image{{ forloop.index0 }}">&#9187;</a>
            {% else %}&#11041;{% endif %}
            &#11041;
            {% if forloop.rindex > 1 %}<a href="#image{{ forloop.index | plus: 1 }}">&#9187;</a>
            {% else %}&#11041;{% endif %}
            </span>
          </h3>
          <p>{{ image.description }}</p>
        </div>
        <a href="#hex{{ forloop.index }}" class="lbox-close">CLOSE</a>
      </div>
    </li>
  {% endfor %}
</ul>
