<head>
  {% if site.content_security_policy != '' %}
    <meta http-equiv="Content-Security-Policy" content="{{ site.content_security_policy }}">
  {% endif %}
  <meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  {% if site.google_site_verification %}<meta name="google-site-verification" content="{{ site.google_site_verification }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/icon/apple-touch-icon.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ '/assets/img/icon/favicon-48x48.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/icon/favicon-32x32.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/icon/favicon-16x16.png' | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ '/assets/img/icon/manifest.json' | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ '/assets/img/icon/safari-pinned-tab.svg' color='#5bbad5' | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ '/assets/img/icon/favicon.ico' | prepend: site.baseurl }}">
  <meta name="msapplication-config" content="{{ '/assets/img/icon/browserconfig.xml' | prepend: site.baseurl }}">
  <meta name="color-scheme" content="light">
  <meta name="theme-color" content="#eaf1f2">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/lib/fontawesome/css/all.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/lib/fontawesome/css/v4-shims.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/lib/devicon/devicon.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/lib/google-webfonts/font-rubik.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.min.css' | prepend: site.baseurl }}">
</head>
