<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/icon/manifest.json">
  <link rel="mask-icon" href="/assets/img/icon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/img/icon/favicon.ico">
  <meta name="msapplication-config" content="/assets/img/icon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
