<div id="header">
  <span id="header-canvas-overshadow"></span>
  <canvas id="header-canvas"></canvas>
  <div class="header-items">
    <h1 class="site-title">{{site.title}}</h1>
    <img src="{{ site.user_picture | prepend: site.baseurl }}" alt="{{ site.user_name | prepend: site.baseurl }}" />
    <span class="user-description">{{site.user_name}}</span>
    {% if site.user_title != null %}
      <span class="user-description">{{site.user_title}}</span>
    {% endif %}
    <div class="header-icons">
      {% include follow-banner.html %}
    </div>
    <ul class="header-links">
      {% include navbar-link-banner.html %}
    </ul>
  </div>
  <a class="down" href="#about" title="Go down" data-scroll data-scroll-options='{"offset": -15}'><i class="icon fa fa-angle-double-down" aria-hidden="true"></i></a>
</div>
<span id="header-end"></span>
