<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/waves.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cymatria </h3>
    <ul>
      <li>WebGL (ThreeJS)</li>
      <li>OpenGL</li>
      <li>Javascript</li>
    </ul>
    <p>GPGPU particle simulation of audio waves using WebGL and Render-to-Texture and Framebuffer Object techniques. Allows for large particle counts and high FPS by computing positions entirely on-GPU without any CPU traffic. Created to visualize Chladni or Cymatic patterns.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/camaro.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Steve McQueen </h3>
    <ul>
      <li>Keras</li>
      <li>TensorFlow</li>
      <li>OpenAI Gym</li>
    </ul>
    <p>Deep Deterministic Gradient Policy (Actor-Critic) machine learning racing driver, implemented for the racing simulator "TORCS". Uses an actor-critic network implemented in Keras and TensorFlow with OpenAI Gym environment interface to train a racing AI using reinforcement learning.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
