<div id="header" class="short">
  <span id="header-canvas-overshadow"></span>
  <canvas id="header-canvas"></canvas>
  <div class="header-items">
    <a title="Go Home" href="{{ '/' | prepend: site.baseurl }}">
      <img data-press-delay src="{{ site.user_picture | prepend: site.baseurl }}" alt="{{ site.user_name | prepend: site.baseurl }}" ></img>
    </a>
    <h1 class="site-title">{{site.user_name}}</h1>
    <div class="header-icons">
      {% include follow-banner.html %}
    </div>
    <ul class="header-links">
      {% include navbar-link-banner.html %}
    </ul>
  </div>
</div>
<span id="header-end"></span>
