:root {
  --border-1: #1D1E1C;
  --border-2: #1D1E1C;
}
html { 
  background-color: #1F2624;
} 
body {
  @include background-style-grey;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #555;
  font-family: 'Rubik';
}
article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}
h1, h2, h3, h4, stong {
  line-height: 1.25;
  margin-bottom: 0px;
}
h1 {
  font-size: 39px;
  font-weight: bold;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 29px;
}
hr {
  margin-top: 35px;
  color: #429383;
}
ul, ol {
  margin: 18px 0;
  padding-left: 40px;
}
figure {
  font-size: 22px;
}
p {
  font-size: 22px;
  margin-bottom: 0px;
}
a, img {
  border: none;
  outline: none;
}
a {
  cursor: pointer;
  &:active, &:focus, &:visited, &:link  {
    text-decoration: none;
    outline: none;
  }
}
sup, sub {
  line-height: 0;
}

//
// adaptions to screen size changes
//

@media only screen and (min-height: 1350px) and (min-width: 1200px) {
  p {
    font-size: 26px;
    line-height: 1.4;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
}
