#particles-js {
  z-index: 1;
  background: $main;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 4px 6px rgba(70, 70, 70, 0.4);
  .particles-js-canvas-el {
    z-index: 1 !important;
    width:100% !important;
    height:100vh !important;
  }
}

.header {
  z-index: 5;
  width: 100%;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  background-color: #e0e0e0;
  background: #e0e0e0; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e0e0e0 1%, #ededed 51%, #e0e0e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e0e0e0 1%,#ededed 51%,#e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e0e0e0 1%,#ededed 51%,#e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.8);
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  .site-title {
    z-index: 10;
    font-size: 60px;
    font-weight: 500;
    display: block;
    line-height: 1;
    color: $header;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 100px;
    }
  }
  .site-description {
    z-index: 10;
    font-size: 20px;
    font-weight: 400;
    display: block;
    line-height: 1;
    color: $header;
    margin-top: 10px;
    @media only screen and (min-width:$cut){
      font-size: 40px;
    }
  }
  h1{
    margin: 5px auto;
  }
}

.hex-grid {
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-hex {
  margin: -80px 0px;
  padding: 0px;
  font-size: 295px;
  line-height: 1;
  letter-spacing: 20px;
  z-index: 5;
  color: $header;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-hex-even {
  @extend .header-hex;
  margin-left: -126px;
}

.header-links {
  z-index: 10;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px 10px 30px 10px;
  .link {
    color: $header;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    transition: all .7s;
    &:hover {
      color: $accent;
    }
    &:active {
      color: $accent;
    }
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

.header-icons {
  z-index: 10;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  .icon {
    text-align: center;
    color: $header;
    width: 15px;
    height: 15px;
    font-size: 15px;
    padding: 10px;
    margin: 8px 8px;
    border-radius: 50%;
    border: 2px solid $header;
    transition: all .7s;
    &:hover {
      color: #e0e0e0;
      background: $header;
    }
    &:active {
      color: #e0e0e0;
      background: $header;
    }
    @media only screen and (min-width:$cut) {
      width: 25px;
      height: 25px;
      font-size: 25px;
    }
  }
}

.down {
  z-index: 5;
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
  .icon {
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      fill: #fff;
      -webkit-animation: pulse 3.3s infinite;
      animation: pulse 3.3s infinite;
      &:hover {
        color: $accent;
      }
      &:active {
        color: $accent;
      }
  }
}
