#particles-js {
  z-index: 1;
  background: $main;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    z-index: 1 !important;
    width:100% !important;
    height:100vh !important;
  }
}

.header {
  z-index: 5;
  width: 100%;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  .site-title {
    z-index: 10;
    font-size: 50px;
    display: block;
    line-height: 1;
    color: #FFF;
    text-shadow: 3px 3px 1px rgba(70, 70, 70, 0.83);
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 100px;
    }
  }
  .site-description {
    z-index: 10;
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #FFF;
    margin-top: 10px;
    text-shadow: 2px 2px 1px rgba(70, 70, 70, 0.83);
    @media only screen and (min-width:$cut){
      font-size: 40px;
    }
  }
  h1{
    margin: 5px auto;
  }
}

.hex-grid {
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-hex {
  margin: -80px 0px;
  padding: 0px;
  font-size: 295px;
  line-height: 1;
  letter-spacing: 20px;
  z-index: 5;
  color: rgba(71, 104, 110, 0.7);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-hex-even {
  @extend .header-hex;
  margin-left: -127px;
}

.header-links {
  z-index: 10;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px 10px;
  .link {
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    text-shadow: 2px 2px 1px rgba(70, 70, 70, 0.63);
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

.header-icons {
  z-index: 10;
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: #FFF;
    width: 15px;
    height: 15px;
    font-size: 15px;
    padding: 10px;
    margin: 8px 8px;
    border-radius: 50%;
    border: 2px solid #FFF;
    text-shadow: 1px 1px 1px rgba(70, 70, 70, 0.63);
    transition: all .7s;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
    @media only screen and (min-width:$cut) {
      width: 25px;
      height: 25px;
      font-size: 25px;
    }
  }
}

.down {
  z-index: 5;
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  .icon {
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      fill: #fff;
      -webkit-animation: pulse 3.3s infinite;
      animation: pulse 3.3s infinite;
      &:hover {
        color: $accent;
      }
      &:active {
        color: $accent;
      }
  }
}
