#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 80px auto 20px auto;
  background-color: #f9f9f9;
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f9f9f9 0%, #ececec 52%, #f9f9f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f9f9f9 0%,#ececec 52%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f9f9f9 0%,#ececec 52%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 6px;
  box-shadow: 6px 6px 7px rgba(70, 70, 70, 0.4);
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}
.user-project-details {
  margin: 20px 0px 20px 0px;
  text-align: center;
  h1 {
    padding: 10px;
    font-weight: 400;
    margin: 0;
  }
}
.user-projects { 
  margin: 0px 30px 10px 30px;
  padding: 0px 0px 20px 0px;
  img {
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 6px rgba(70, 70, 70, 0.4);
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  li {
    color: $main;
    font-size: 1.1rem;
  }
  p {
    margin-right: 5px;
  }
}

.contents {
  @media only screen and (min-width: $cut) {
    margin-left: 0;
    width: 48%;
  }
}

.contents-right {
  @media only screen and (min-width: $cut) {
    float: right;
    //margin-top: -5%;
    width: 48%;
  }
}
.images-right {
  text-align: center;
  @media only screen and (min-width: $cut) {
    float: right;
    width: 48%;
  }
  img {
    margin-top: 50px;
    @media only screen and (min-width: $cut) {
      float: right;
    }
  }
}

.images-left {
  @media only screen and (min-width: $cut) {
    float: left;
    width: 48%;
  }
  img {
    margin-top: 50px;
    @media only screen and (min-width: $cut) {
      float: left;
    }
  }
}

.project-link {
  display: block;
  width: 90px;
  margin: 10px auto;
  padding: 5px;
  color: $main;
  background-color: transparent;
  border: 1px solid $main;
  border-radius: 3px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover {
    background-color: $accent;
    border-color: $accent;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
  &:active {
    background-color: $accent;
    border-color: $accent;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
}

.project-link-header {
  text-decoration: none;
  font-weight: 400;
  color: $main;
  transition: color 0.3s ease-out;
  &:hover {
    color: $accent;
    transition: color 0.3s ease-in;
  }
  &:active {
    color: $accent;
    transition: color 0.3s ease-in;
  }
}
