#short-particles-js {
  background: $main;
  display: flex;
  vertical-align: center;
  width: 100%;
  min-height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100% !important;
    height:30vh !important;
  }
}

.short-header {
  z-index: 1;
  text-align: left;
  color:#FFF;
  position: absolute;
  top: 10%;
  left: 10%;
  margin: 10px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  h1 {
    padding: 3px;
    margin: 3px 0px;
  }
  .site-title {
    font-size: 30px;
    display: block;
    line-height: 1;
    margin: 5px 0;
    color: #FFF;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 40px;
    }
  }
  .site-description {
    position: relative;
    top: 5%;
    left: 0%;
    font-size: 17px;
    display: block;
    line-height: 1;
    color: #FFF;
    margin: 0px;
    @media only screen and (min-width:$cut){
      margin-top: 3px;
      font-size: 25px;
    }
  }
}

.short-header-links {
  margin: 0px;
  text-align: left;
  .link {
    color: #FFF;
    line-height: 1;
    text-decoration: none;
    font-size: 12px;
    margin: 0px 5px;
    @media only screen and (min-width:$cut){
      font-size: 15px;
    }
  }
}

.short-header-icons {
  display: flex;
  justify-content: left;
  text-align: center;
  .icon {
    text-align: center;
    color: #FFF;
    width: 15px;
    height: 15px;
    font-size: 15px;
    padding: 6px;
    margin: 3px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
    @media only screen and (min-width:$cut) {
      width: 25px;
      height: 25px;
      font-size: 25px;
    }
  }
}

