#short-particles-js {
  z-index: 1;
  background: $main;
  display: flex;
  vertical-align: center;
  width: 100%;
  min-height: 25vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 3px 4px rgba(70, 70, 70, 0.4);
  .particles-js-canvas-el {
    width:100% !important;
    height:25vh !important;
  }
}

.short-header {
  z-index: 10;
  text-align: left;
  color:#FFF;
  position: absolute;
  top: 10%;
  left: 5%;
  margin: 10px;
  padding: 10px 30px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  @include card-style;
  h1 {
    padding: 3px;
    margin: 3px 0px;
  }
  .site-title {
    font-size: 30px;
    display: block;
    line-height: 1;
    margin: 5px 0;
    white-space: nowrap;
    color: $header;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 40px;
    }
  }
  .site-description {
    position: relative;
    top: 5%;
    left: 0%;
    font-size: 17px;
    display: block;
    line-height: 1;
    color: $header;
    margin: 0px;
    @media only screen and (min-width:$cut){
      margin-top: 3px;
      font-size: 25px;
    }
  }
}

.short-header-links {
  z-index: 10;
  margin: 0px;
  color: $header;
  text-align: left;
  .link {
    color: $header;
    line-height: 1;
    text-decoration: none;
    font-size: 12px;
    margin: 0px 5px;
    @media only screen and (min-width:$cut){
      font-size: 15px;
    }
    &:hover, &:active {
      color: $accent;
    }
  }
}

#short-hex-header {
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .hex-header-div {
    margin: -60% 2%;
  }
}
